<%- include('../partials/header') %>

<body>
  <main>
    <div class="container">
      <h1>About us</h1>
      <br><br>
      <p>Tipsyteammate helps you to know much alcohol to buy based on how many
        people you plan on serving at your party or event as well as give you
        a guide to make many tasty drinks.
        To facilitate better parties and events, this app allows you to tell it
        how many people are going to be at the party, length of the event and other
        criteria to predict the amount of alcohol needed to last the event.
        You are presented an easy and elegant user interface to search for what
        drink ticles your fancy...
        Look like a seasoned bartender at your next event.
      </p>

    </div>
  </main>
</body>
