<%- include('../partials/header') %>

<!-- make check for float not string in the quantity -->

<br><br>
<body>
	<h6>Please insert ingredient quantities as decimal values</h6>
	<br>
	<div class="container">
		<form class="" action="/newRecipes" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="Drink_Name">Drink Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="Drink_Name" id="Drink_Name"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_one">ingredient 1</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_one" id="ingredient_one"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_one_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_one_oz" id="quantity_one_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_two">ingredient 2</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_two" id="ingredient_two"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_two_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_two_oz" id="quantity_two_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_three">ingredient 3</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_three" id="ingredient_three"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_three_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_three_oz" id="quantity_three_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_four">ingredient 4</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_four" id="ingredient_four"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_four_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_four_oz" id="quantity_four_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_five">ingredient 5</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_five" id="ingredient_five"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_five_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_five_oz" id="quantity_five_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_six">ingredient 6</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_six" id="ingredient_six"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_six_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_six_oz" id="quantity_six_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_seven">ingredient 7</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_seven" id="ingredient_seven"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_seven_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_seven_oz" id="quantity_seven_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_eight">ingredient 8</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_eight" id="ingredient_eight"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_eight_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_eight_oz" id="quantity_eight_oz"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="ingredient_nine">ingredient 9</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="ingredient_nine" id="ingredient_nine"  placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="quantity_nine_oz">quantity (oz)</label>
				<div class="col-sm-10">
					<input type="float" class="form-control" name="quantity_nine_oz" id="quantity_nine_oz"  placeholder="">
				</div>
			</div>
			<input type="submit" value="submit" class="btn btn-primary btn-block">

		</form>

		<div id="post_result" class="container">


		</div>

		<h1>Tipsy Teammate </h1>

	</div>

</body>
